/* jumbrotron color */
.jumbotron {
    color: rgb(71, 223, 11);
    background-color: darkblue;
    text-align: center;
    padding-top: 15px;
}

div.jumbotron {
    height: 150px;
}
/* primary color table row, can code this in html if needed */
.tHeader {
    background-color: rgb(57, 149, 235);
    font-weight: bold;
    color: white;
}

#addTrainDiv {
    border-style: solid;
    border-color: rgb(57, 149, 235);
    border-width: 3px;
}

form {
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 10px;
    padding-top: 0px;
}
/* make app responsive-Bootrap has some responsive tables */

/* Other styling to make the app look fine */